In [12]:
import sqlite3
import pandas as pd

conn = sqlite3.connect("cartoes.db")
df = pd.read_sql("SELECT * FROM cartoes_validos", conn)
display(df)
conn.close()

   id            numero validade  cvv       data_validacao  status
0   6  1526929399119117    09/25  555  2025-07-25 10:39:47  valido

In [2]:
import sqlite3
import pandas as pd

conn = sqlite3.connect("cartoes.db")
cursor = conn.cursor()

# Executa o DELETE
delete_query = "DELETE FROM cartoes_validos WHERE id > 0"
cursor.execute(delete_query)
conn.commit()

# Consulta os dados restantes (opcional)
df = pd.read_sql("SELECT * FROM cartoes_validos", conn)
display(df)

conn.close()

Empty DataFrame
Columns: [id, numero, validade, cvv, data_validacao, status]
Index: []